@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
   
    color: whitesmoke;
}

table, tr, th, td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

/* button */

header {
    display: block;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    margin: 30px;
    padding: 20px;
    color: yellow;
}

button {
    display: block;
    border: none;
    font-size: 18px;
    color: maroon;
    background: linen;
    padding: 10px 30px;
    border-radius: 3px;
    transition: 350ms;
    cursor: pointer;
    font-family: Georgia;
    color: orange;
}

button:hover {
    background: rgb(231, 221, 124);
}

header h1 {
    display: block;
    font-size: 90px;
    font-weight: bold;
    
}

h2{
    font-family: Georgia;
    color: orange;
}

div img {
    float: left;
}

section {
    display: block;    
    margin: 150px;
    padding: 50px;
}

p {
    
    white-space: pre;
    font-style: normal;
    font-family: Arial;
    color: gold;
}



#family{
    width: 40%;
    height: 40%;
}


/*Table style of w3schools*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    color:black;
    font-weight: bold;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: maroon;
    color: white;
  }

 